<h1><%= @post.title %></h1>

<p><%= @post.description %>
<p>If you are interested, please contact the post owner at: <%= @post.email %></p>

<a href="/">Return to Home</a>
<br>
<br>

<a href="/:post_id/remove">Remove!</a>
<!-- <form action="/:post_id/remove" method="POST">
  <input type="submit" value="Remove!">
</form> -->